//Colors
$darkblue: #052240;
$blue: #092c6e;
$lightblue: #103b8f;
$orange: #fb914d;
$black: #202020;
$white: #ffffff;
//Fonts
$bebas: 'Bebas Neue', cursive;
$os: 'Open Sans', sans-serif;

//Global
body {
    background:$darkblue;
    padding:0;
    margin:0;
}

//Home
.home {
    .nav {
        height:100vh;

        &__item {
            background:$blue;
            color:$white;
            font-family: $bebas;
            font-size: 38px;
            height:50vh;
            display:flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            text-decoration: none;

            a {
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                transition: all .5s ease;
                background:lighten($blue, 10%);

                span {
                    transition: all .5s ease;
                    top:-10px;
                }
            }

            :not(:hover) {
                span {
                    transition: all .5s ease;
                    top:0px;
                }
            }

            &:nth-child(even) {
                background:$lightblue;

                &:hover {
                    transition: all .5s ease;
                    background:darken($lightblue, 10%);
                }
            }

            &__wrapper {
                display:grid;
                justify-items: center;

                span {
                    transform: scale(var(--ggs,2));
                    margin-bottom: 15px;
                    top:0px;
                    position: relative;
                }
            }
        }
    }
}

//Match
.match {

    @media screen and (min-width: 992px) {
        display:flex;
    }

    &__options {
        background: $darkblue;
        padding: 20px;

        &__input {
            width:100%;

            input, select {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 10px;
                height: 40px;
                border-radius: 6px;
                border:0;
                padding: 0 10px;
                background:$white;
            }

            &--download {
                background:$orange;
                color:$white;
                font-family:$bebas;
                font-size:24px;
                border-radius: 6px;
                box-sizing: border-box;
                transition: all .3s ease;
                cursor: pointer;
                height:40px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: darken($orange, 10%);
                }
            }
        }

        &--back {
            font-family: $os;
            height:40px;
            cursor: pointer;

            a {
                text-decoration: none;
                color: $white;
                display:flex;

                i {
                    display:inline-block;
                    margin-right: 10px;
                }
            }
        }
    }

    &__preview {
        overflow: hidden;

        canvas {
            height:100% !important;
            width:100% !important;
            object-fit: contain;
        }
    }

    &__generator {
        width: 874px;
        height: 874px;
        font-family: $bebas;
        position: absolute;
        left: -9999px;
        top:0;
        overflow: hidden;

        &--overlay {
            width:100%;
            position: absolute;
            top:0%;
            left:0%;
            z-index: 10;
        }

        &--squad {
            position: absolute;
            color:$white;
            font-size: 60px;
            top: 20.8%;
            left: 19.8%;
        }

        &--nbcrest {
            position: absolute;
            top:34.4%;
            left: -9999px;

            img {
                max-width: 110px;
                max-height: 90px;
            }

            &.home {
                left:8.9%
            }

            &.away {
                left:34.4%;
            }
        }

        &--oppcrest {
            position: absolute;
            top:34.4%;

            img {
                max-width: 110px;
                max-height: 90px;
            }

            &.home {
                left:8.9%
            }

            &.away {
                left:34.4%;
            }
        }

        &--nb {
            position: absolute;
            color:$black;
            font-size: 35px;
            line-height: 30px;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width:156px;
            height:60px;
            top: 47.1%;
            left: -9999px;

            &.home {
                left: 6%
            }

            &.away {
                left: 30.8%;
            }
        }

        &--opponent {
            position: absolute;
            color:$black;
            font-size: 35px;
            line-height: 30px;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width:156px;
            height:60px;
            top: 47.1%;

            &.home {
                left: 6%;
            }

            &.away {
                left: 30.8%;
            }
        }

        &--divison {
            position: absolute;
            color:$black;
            font-size: 25px;
            top: 59%;
            left: 6.5%;
            width: 360px;
            text-align: center;
        }

        &--date {
            position: absolute;
            color:$black;
            font-size: 25px;
            top: 61.8%;
            left: 6.7%;
            width: 360px;
            text-align: center;
        }

        &--kickoff {
            position: absolute;
            color:$black;
            font-size: 87.5px;
            bottom: 2.3%;
            right: 2.9%;
            width: 350px;
            text-align: center;
        }

        &--ground {
            position: absolute;
            color:$black;
            font-size: 25px;
            top: 64.5%;
            left: 6.5%;
            width: 360px;
            text-align: center;
        }

        &--picture {
            position: absolute;
            right: -2%;
            width: 50%;
            bottom: 18.9%;
        }

        &--background {
            width: 100%;
            height: 100%;
        }
    }
}

//Linup
.lineup {

    @media screen and (min-width: 992px) {
        display:flex;
    }

    &__options {
        background: $darkblue;
        padding: 20px;

        &__input {
            width:100%;

            input, select {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 10px;
                height: 40px;
                border-radius: 6px;
                border:0;
                padding: 0 10px;
                background:$white;
            }

            &--player {
                display:grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: auto 40px;
                gap: 10px;
                background:$blue;
                padding:10px;
                box-sizing: border-box;
                border-radius: 10px;
                margin-bottom: 10px;

                .playingPos {
                    grid-row:1 / 2;
                    grid-column: 1 / 3;
                }

                .playerName {
                    grid-row:1 / 2;
                    grid-column: 3 / 6;
                }

                .youth {
                    background:$darkblue;
                    border-radius: 6px;
                    color:$white;
                    font-family: $bebas;
                    grid-row:2 / 3;
                    grid-column: 1 / 4;
                    padding:0 8px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    input {
                        display:inline-block;
                        width: 24px;
                        height: 24px;
                        margin:0;
                        padding:0;
                    }

                    label {
                        display:inline-block;
                    }
                }

                .addPlayer {
                    background: #14CA52;
                    color:$white;
                    font-family: $bebas;
                    grid-row:2 / 3;
                    grid-column: 4 / 6;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .3s ease;
                    border-radius: 6px;

                    span {
                        display:inline-block;
                        margin-left: 5px;
                    }

                    &:hover {
                        background: darken(#14CA52, 10%);
                    }
                }
            }

            &--download {
                background:$orange;
                color:$white;
                font-family:$bebas;
                font-size:24px;
                border-radius: 6px;
                box-sizing: border-box;
                transition: all .3s ease;
                cursor: pointer;
                height:40px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: darken($orange, 10%);
                }
            }
        }

        &--back {
            font-family: $os;
            height:40px;
            cursor: pointer;

            a {
                text-decoration: none;
                color: $white;
                display:flex;

                i {
                    display:inline-block;
                    margin-right: 10px;
                }
            }
        }
    }

    &__preview {
        overflow: hidden;

        canvas {
            height:100% !important;
            width:100% !important;
            object-fit: contain;
        }
    }

    &__generator {
        width: 874px;
        height: 874px;
        font-family: $bebas;
        position: absolute;
        left: -9999px;
        top:0;
        overflow: hidden;

        &--overlay {
            width:100%;
            position: absolute;
            top:0%;
            left:0%;
            z-index: 10;
        }

        &--squad {
            position: absolute;
            color:$white;
            font-size: 60px;
            top: 20.8%;
            left: 19.8%;
        }

        &--nbcrest {
            position: absolute;
            top: 87.6%;
            left: -9999px;

            img {
                max-width: 110px;
                max-height: 90px;
            }

            &.home {
                left: 66.4%;
            }

            &.away {
                left:87%;
            }
        }

        &--oppcrest {
            position: absolute;
            top: 87.6%;

            img {
                max-width: 110px;
                max-height: 90px;
            }

            &.home {
                left:66.4%
            }

            &.away {
                left:87%;
            }
        }

        &--nb {
            position: absolute;
            color:$black;
            font-size: 22px;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width:220px;
            left: 64.7%;

            &.home {
                top:17%
            }

            &.away {
                top:22%;
            }
        }

        &--opponent {
            position: absolute;
            color:$black;
            font-size: 22px;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width:220px;
            left: 64.7%;

            &.home {
                top:17%;
            }

            &.away {
                top:22%
            }
        }

        &--date {
            position: absolute;
            color:$black;
            font-size: 17.5px;
            top: 24.6%;
            left: 65.9%;
            width: 200px;
            text-align: center;
        }

        &__player {
            position: absolute;
            font-size:36px;
            color:$black;

            .youthPlayer {
                background:url("/images/blanks/newbrighton.png");
                display:block;
                position: absolute;
                background-size: cover;
                width: 37px;
                height: 32px;
                right: -45px;
                top: 5px;
            }

            &--1 {
                top: 29.5%;
                left: 11.4%;
            }
            &--2 {
                top: 34.7%;
                left: 11.4%;
            }
            &--3 {
                top: 39.9%;
                left: 11.4%;
            }
            &--4 {
                top: 45.1%;
                left: 11.4%;
            }
            &--5 {
                top: 50.3%;
                left: 11.4%;
            }
            &--6 {
                top: 55.5%;
                left: 11.4%;
            }
            &--7 {
                top: 60.7%;
                left: 11.4%;
            }
            &--8 {
                top: 65.9%;
                left: 11.4%;
            }

            &--9 {
                top: 29.5%;
                left: 52.4%;
            }
            &--10 {
                top: 34.7%;
                left: 52.4%;
            }
            &--11 {
                top: 39.9%;
                left: 52.4%;
            }
            &--12 {
                top: 45.1%;
                left: 52.4%;
            }
            &--13 {
                top: 50.3%;
                left: 52.4%;
            }
            &--14 {
                top: 55.5%;
                left: 52.4%;
            }
            &--15 {
                top: 60.7%;
                left: 52.4%;
            }

            &--16 {
                font-size:20px;
                color:$white;
                top: 77%;
                left: 11.2%;

                .youthPlayer {
                    width:18px;
                    height:15px;
                    right: -25px;
                }
            }
            &--17 {
                font-size:20px;
                color:$white;
                top: 79.8%;
                left: 11.2%;

                .youthPlayer {
                    width:18px;
                    height:15px;
                    right: -25px;
                }
            }
            &--18 {
                font-size:20px;
                color:$white;
                top: 77%;
                left: 35.2%;

                .youthPlayer {
                    width:18px;
                    height:15px;
                    right: -25px;
                }
            }
            &--19 {
                font-size:20px;
                color:$white;
                top: 79.8%;
                left: 35.2%;

                .youthPlayer {
                    width:18px;
                    height:15px;
                    right: -25px;
                }
            }
            &--20 {
                font-size:20px;
                color:$white;
                top: 77%;
                left: 54.5%;

                .youthPlayer {
                    width:18px;
                    height:15px;
                    right: -25px;
                }
            }
            &--21 {
                font-size:20px;
                color:$white;
                top: 79.8%;
                left: 54.5%;

                .youthPlayer {
                    width:18px;
                    height:15px;
                    right: -25px;
                }
            }
            &--22 {
                font-size:20px;
                color:$white;
                top: 77%;
                left: 59.5%;

                .youthPlayer {
                    width:18px;
                    height:15px;
                    right: -25px;
                }
            }
        }

        &--background {
            width: 100%;
            height: 100%;
        }
    }
}